<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>

    <link rel="stylesheet" href="../css/backgroundStyle.css">
</head>
<body>
    <h1>Ejemplos de fondo</h1>
    
    <!-- Background Color -->
    <div class="background-col">
        <p>
            Este es el ejemplo de fondo con color
        </p>
    </div>
    <!-- Background Image -->
    <div class="background-img">
        <p>
            Este es el ejemplo de fondo con imagen
        </p>
    </div>
    <!-- Background Repeat -->
    <div class="background-rep">
        <p>
            Este es el ejemplo de fondo con repeticion
        </p>
    </div>
    <!-- Background Attachment -->
    <div class="background-att">
        <p>
            Este es el ejemplo de fondo con fijado
        </p>
    </div>
    <!-- Background Position -->
    <div class="background-">
        <p>
            Este es el ejemplo de fondo con posicion
        </p>
    </div>
</body>
</html>