<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/border.css">
    <title>Bordes</title>
</head>
<body>
    <h1>Ejemplo de bordes</h1>
    
    <div class="border-example dotted">
        <p>Ejemplo de borde punteado</p>
    </div>

    <div class="border-example dashed">
        <p>Ejemplo de borde discontinuo</p>
    </div>

    <div class="border-example solid">
        <p>Ejemplo de borde solido</p>
    </div>

    <div class="border-example double">
        <p>Ejemplo de borde doble</p>
    </div>

    <div class="border-example groove">
        <p>Ejemplo de borde groove</p>
    </div>
    
</body>
</html>