<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/CSS3.css">
</head>
<body>
    <h1>Ejemplo CSS3</h1>

    <Section>
        <h2>Selectores avanzados</h2>    
        <div class="selector-avanzado">
            <p class="example">Parrafo con clase</p>
            <p>Parrafo sin clase</p>
            <p data-info="example-info">Parrafo con atributo data-info</p>
        </div>
    </Section>
<hr>
    <Section>
        <h2>Pseudoelementos y pseudoclases</h2>    
        <div class="pseudo">
            <p>Parrafo normal</p>
            <p class="pseudo">Parrafo con pseudoelemento '::before'</p>
            <p class="nth-child">Hijo del contenedor</p>
        </div>
    </Section>
<hr>

    <Section>
        <h2>Transiciones y Animaciones</h2>    
        <div class="transicion">
            <p>Pasar el cursor para ver la animacion</p>
        </div>         
        <div class="animacion">
            <p>Esta caja esta animada</p>
        </div>
    </Section>
<hr>
    <Section>
        <h2>Trasformaciones</h2>    
        <div class="trasformaciones">
            <p>Pasar el cursor para ver la trasformacion</p>
        </div>
    </Section>
<hr>
    <Section>
        <h2>Flexbox</h2>   
        <div class="flexbox">
            <div>Elemento 1</div>
            <div>Elemento 2</div>
            <div>Elemento 3</div>
        </div> 
    </Section>
<hr>
    <Section>
        <h2>Grid layout</h2>    
        <div class="grid">
            <div>Elemento 1</div>
            <div>Elemento 2</div>
            <div>Elemento 3</div>
            <div>Elemento 4</div>
        </div>
    </Section>  
<hr>
    <section>
        <h2>Sombras y Efectos</h2>
        <div class="sombras">
            <p>Hola mundo!</p>
        </div>
    </section>
    <footer>
        Ricardo Andres Correa Diaz
    </footer>
</body>
</html>