<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/music.css">
    <title>Music</title>
</head>
<body>
    <div id="container-login" class="container-login">
        <h1>Inicia Sesion en Spotify</h1>

        <button type="button" id="btn-style"><img class="iconStyle" src="../svg/google-icon.svg" alt="Google">Iniciar con Google</button>
        <button type="button" id="btn-style"><img class="iconStyle" src="../svg/facebook-icon.svg" alt="Google">Iniciar con Facebook</button>
        <button type="button" id="btn-style"><img class="iconStyle" src="../svg/apple-icon.svg" alt="Google">Iniciar con Apple</button>
        <button type="button" >Iniciar con numero de telefono</button>
        <hr>
        <span>Correo electronico o nombre de usuario</span>
        <input type="email" name="" id="" placeholder="Correo electronico o nombre de usuario">
        <span>Contraseña</span>
        <input type="password" name="" id="" placeholder="Contraseña">
        <hr>
        <button class="btn-login" id="btn-style">Iniciar sesion</button>
        <hr>
        <span><p><a href="">¿Olvidaste la contraseña?</a></p></span>
        <p>¿No tienes cuenta? <a href="">Suscribete a Spotify</a></p>
    </div>
</body>
</html>