@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url();
}

body {
    background: linear-gradient(to bottom, #3a3a3a, #121212);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', sans-serif;
    flex-direction: column;
}

.container-login {
    background-color: #121212;
    width: 500px;
    border-radius: 10px;
    margin-top: 5%;
    padding: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #818181;
    padding: 20px;
    margin: 12px 0;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #222;
}

.btn-login {
    background-color: #3be477;
    border: none;
    color: black;
    font-weight: bold;
    padding: 22px;
    font-size: 20px;
    width: 90%;
}

.btn-login:hover {
    background-color: #2ec76d;
}

.iconStyle {
    margin-right: 10px;
    width: 28px;
    height: 28px;
}

input {
    background-color: transparent;
    border: 1px solid #818181;
    color: #fff;
    padding: 14px;
    border-radius: 5px;
    width: 90%;
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
}

input::placeholder {
    color: #bbb;
    text-align: left;
}

label {
    align-self: flex-start;
    margin-top: 10px;
    font-size: 16px;
}

p {
    text-align: center;
    font-size: 16px;
}

.extra-links a {
    color: #3be477;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #818181;
    margin: 20px 0;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.img-logo{
    filter: invert(0) grayscale(100%) brightness(100%);
}